@charset "UTF-8";

body{
  /* font-family: NewRodinProN-M; */
  font-family: DNPShueiMGoStd-L;
}
* {
  margin: 0;
  padding: 0;
}
img {
  border: 0px;
  vertical-align:bottom;
}
li{
  list-style:none;
}
div,p,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,img{
  margin:0;
  padding:0;
}
ol,ul,li{
  list-style:none;
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary{
  display:block;
  margin:0;
  padding:0;
}

/* 文字揃え */
.right {
  text-align:right;
}
.left {
  text-align:left;
}
.center {
  text-align:center;
}

/* フロート */
.f_r {
  float:right;
}
.f_l {
  float:left;
}

.clear_b {
  clear:both;
}
.clear_r {
  clear:right;
}
.clear_l {
  clear:left;
}

/* リンク */
a img {
  border:0;
}
a {
  text-decoration:none;
  color:#111;
}

/* スクロールの有無によるレイアウトずれ防止 */
html {
 overflow-y:scroll;
}

/* マージン指定 */
.m_0 { margin:0 !important; }
.m_5 { margin:5px !important; }
.m_10 { margin:10px !important; }
.m_15 { margin:15px !important; }
.m_20 { margin:20px !important; }
.m_25 { margin:25px !important; }
.m_30 { margin:30px !important; }
.mt_0 { margin-top: 0 !important; }
.mt_5 { margin-top: 5px !important; }
.mt_10 { margin-top: 10px !important; }
.mt_15 { margin-top: 15px !important; }
.mt_20 { margin-top: 20px !important; }
.mt_25 { margin-top: 25px !important; }
.mt_30 { margin-top: 30px !important; }
.mr_0 { margin-right: 0 !important; }
.mr_5 { margin-right: 5px !important; }
.mr_10 { margin-right: 10px !important; }
.mr_15 { margin-right: 15px !important; }
.mr_20 { margin-right: 20px !important; }
.mr_25 { margin-right: 25px !important; }
.mr_30 { margin-right: 30px !important; }
.mb_0 { margin-bottom: 0 !important; }
.mb_5 { margin-bottom: 5px !important; }
.mb_10 { margin-bottom: 10px !important; }
.mb_15 { margin-bottom: 15px !important; }
.mb_20 { margin-bottom: 20px !important; }
.mb_25 { margin-bottom: 25px !important; }
.mb_30 { margin-bottom: 30px !important; }
.ml_0 { margin-left: 0 !important; }
.ml_5 { margin-left: 5px !important; }
.ml_10 { margin-left: 10px !important; }
.ml_15 { margin-left: 15px !important; }
.ml_20 { margin-left: 20px !important; }
.ml_25 { margin-left: 25px !important; }
.ml_30 { margin-left: 30px !important; }

/* パディング指定 */
.p_0 { margin:0 !important; }
.p_5 { margin:5px !important; }
.p_10 { margin:10px !important; }
.p_15 { margin:15px !important; }
.p_20 { margin:20px !important; }
.p_25 { margin:25px !important; }
.p_30 { padding:30px !important; }
.pt_0 { padding-top: 0 !important; }
.pt_5 { padding-top: 5px !important; }
.pt_10 { padding-top: 10px !important; }
.pt_15 { padding-top: 15px !important; }
.pt_20 { padding-top: 20px !important; }
.pt_25 { padding-top: 25px !important; }
.pt_30 { padding-top: 30px !important; }
.pr_0 { padding-right: 0 !important; }
.pr_5 { padding-right: 5px !important; }
.pr_10 { padding-right: 10px !important; }
.pr_15 { padding-right: 15px !important; }
.pr_20 { padding-right: 20px !important; }
.pr_25 { padding-right: 25px !important; }
.pr_30 { padding-right: 30px !important; }
.pb_0 { padding-bottom: 0 !important; }
.pb_5 { padding-bottom: 5px !important; }
.pb_10 { padding-bottom: 10px !important; }
.pb_15 { padding-bottom: 15px !important; }
.pb_20 { padding-bottom: 20px !important; }
.pb_25 { padding-bottom: 25px !important; }
.pb_30 { padding-bottom: 30px !important; }
.pl_0 { padding-left: 0 !important; }
.pl_5 { padding-left: 5px; }
.pl_10 { padding-left: 10px !important; }
.pl_15 { padding-left: 15px !important; }
.pl_20 { padding-left: 20px !important; }
.pl_25 { padding-left: 25px !important; }
.pl_30 { padding-left: 30px !important; }


/* clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  line-height:0;
  font-size: 0;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
  zoom: 1;
}
.clearfix {
  display: block;
}
.green {
  color:#64BE91 !important;
}