@charset "UTF-8";

/*------------------------------
ポイントカラーの変え方

下記を置換してください。

#BEF0F0

------------------------------*/



/*------------------------------
コンテナー
------------------------------*/

body {
  padding: 60px 0 0;
  color: #232337;
  /* font-family: 秀英丸ゴシック L; */
  font-family: DNPShueiMGoStd-L;
  -webkit-text-size-adjust: 100%;
}

/*------------------------------
ヘッダー
------------------------------*/

header {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  top: 0;
  left: 0;
  z-index: 10000;
}
header .logo {
  float: left;
  padding: 17px 0 0 10px;
}
header .logo img {
  height: 25px;
  width: auto;
}
header .logo div {
  display: none;
}
@media(max-width:320px) {
  header .logo {
    padding: 20px 0 0 10px;
  }
  header .logo img {
    width: 180px;
  }
}
header .info {
  display: none;
}
h1 {
  display: none;
}
.sp-header-menu {
  float: right;
}
.sp-header-menu ul {
  font-size: 0;
}
.sp-header-menu ul li {
  display: inline-block;
}
.sp-header-menu ul li img {
  width: 60px;
  height: 60px;
}

/*--------------------------------------------------
* spNavArea
==================================================*/

div#spNavArea {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  user-select: none;
  z-index: 99999;
}

div#spNavArea .inner {
  position: relative;
  box-sizing: border-box;
}

div#spNavArea div#spNavBody {
  transition: 0.3s ease-in-out;
  overflow: auto;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  height: 100%;
  background-color: #2FB2B9;
  opacity: 0;
  z-index: 9998;
}

div#spNavArea.navOpen div#spNavBody {
  left: 0;
  opacity: 1;
}

div#spNavArea div#spNavBody nav {
  display: block;
}

div#spNavArea div#spNavBody nav > ul {
  margin: 50px 0 20px 50px;
}

div#spNavArea div#spNavBody nav > ul > li {
  margin-bottom: 20px;
  color: #fff;
  list-style-type: disc;
}

div#spNavArea div#spNavBody nav ul li a {
  color: #fff;
  text-decoration: none;
}

div#spNavArea div#spNavBody nav ul li > ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 20px 20px 0 0;
  font-size: 0.875em;
}

div#spNavArea div#spNavBody nav ul li > ul li {
  width: 50%;
  margin-bottom: 20px;
  padding-left: 20px;
  background: url(../img/common/icon_pulldown.gif) 0 13px no-repeat;
}

div#spNavArea .navBtn {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  padding: 14px 15px;
  top: 5px;
  right: 5px;
  background-color: #2FB2B9;
  cursor: pointer;
  z-index: 9999;
}

div#spNavArea .navBtn span {
  display: block;
  height: 1px;
  width: 100%;
  background: #fff;
  transition: all .5s ease-in-out;
}

div#spNavArea .navBtn span:nth-of-type(2), div#spNavArea .navBtn span:nth-of-type(3) {
  margin-top: 8px;
}

div#spNavArea.navOpen .navBtn span:nth-of-type(1) {
  transform: translateY(10px) translateX(0) rotate(45deg);
}

div#spNavArea.navOpen .navBtn span:nth-of-type(2) {
  opacity: 0;
}

div#spNavArea.navOpen .navBtn span:nth-of-type(3) {
  transform: translateY(-8px) translateX(0) rotate(-45deg);
}

/*------------------------------
グローバルナビ
------------------------------*/

/*
nav {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: none;
  z-index: 10000;
}
nav ul li {
  border-bottom: solid #ccc 1px;
}
nav ul li a {
  background-color: #BEF0F0;
  color: #fff;
  padding: 15px;
  display: block;
  line-height: 1;
  font-size: 14px;
}
nav ul li small {
  display: none;
}
*/

/*------------------------------
ページトップ
------------------------------*/

.pagetop {
  text-align: center;
  position: fixed;
  bottom: 0 !important;
  left: 0;
  background-color: #C8C8C8;
  width: 100%;
}
.pagetop a {
  display: block;
}
.pagetop a:hover {
  opacity: 0.8;
}
.pagetop img {
  width: 40px;
  height: auto;
}

/*------------------------------
24時間WEB予約、電話をかける
------------------------------*/

.footer-btn {
  text-align: center;
  position: fixed;
  bottom: 0 !important;
  left: 0;
  width: 100%;
  z-index: 1;
}
.footer-btn ul {
  font-size: 0;
}
.footer-btn ul li {
  display: inline-block;
  width: 48.5%;
}
.footer-btn ul li:first-child {
  margin-right: 1%;
}
.footer-btn ul li img {
  width: 100%;
  height: auto;
}


/*------------------------------
フッター
------------------------------*/

footer {
  background: url(../img/bg-footer.png) center top, url(../img/bg11.png) no-repeat center -13px;
  background-size: auto 100%, 1650px auto;
  padding-top: 100px;
}

.footer-link {
  text-align: center;
  padding: 10px 10px 20px;
  font-size: 14px;
}
.footer-link h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 10px;
}
.footer-link p {
  margin-bottom: 10px;
}
.footer-link ul {
  font-size: 0;
}
.footer-link ul li {
    display: inline-block;
    width: 49%;
    margin-top: 2%;
}
.footer-link ul li:nth-child(odd) {
    margin-right: 2%;
}
.footer-link ul li img {
    width: 100%;
    height: auto;
}

.footer-menu {
  display: none;
}

.footer-content {
  padding: 20px 0 0;
  margin: 0 10px;
}
.footer-logo {
  text-align: center;
}
.footer-content .logo img {
  width: auto;
  height: auto;
}
.footer-content .info .contact {
  padding: 20px 0 20px;
}
.footer-content .info .sns {
  text-align: center;
  padding: 20px 0 0;
}
.footer-content .info .sns ul li {
  display: inline;
  margin: 0 0 0 10px;
}

.footer-content .title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  padding-bottom: 5px;
  background: url(../img/bg04.png) no-repeat center bottom;
  clear: both;
}
.footer-content .title span {
  margin-left: 10px;
  font-size: 20px;
    font-family: 秀英丸ゴシック L;
}
.footer-content .info .sns {
  text-align: right;
  padding: 20px 0 0;
}
.footer-content .info .sns ul li {
  display: inline;
  margin: 0 0 0 10px;
}

.footer-center {
    margin-top: 10px;
    font-size: 14px;
}
.footer-center dt {
    color: #fff;
    margin: 0 0 10px 0;
    background: #2FB2B9;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
.footer-center dd {
    padding: 0 0 10px 0;
}

.copyright {
  text-align: center;
  font-size: 14px;
  padding: 20px 0 80px;
  background: #2FB2B9;
  color: #fff;
}

/*------------------------------
メインビジュアル
------------------------------*/

#main-visual {
  display: none;
}
#main-visual-sp {
  background-color: #fff;
  position: relative;
  width: auto;
  height: 400px;
  overflow: hidden;
  margin-top: -60px;
}
#main-visual-sp .catch {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -78px;
}
#main-visual-sp .catch img {
  width: 320px;
  height: auto;
}
/*
#main-visual img {
  width: 800px;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -400px;
}
*/

/*------------------------------
コンテンツ
------------------------------*/

#content {
  position: relative;
  padding: 0;
  background: url(../img/bg06.png) no-repeat center top;
  background-size: auto 850px;
}
#service #content {
  background-size: auto 755px;
}
#staff #content {
  background-size: auto 590px;
}
.info .schedule p {
  text-align: right;
  font-size: 12px;
}
.info .contact {
  letter-spacing: 1px;
  text-align: center;
}
.info .contact span.tag {
  font-size: 14px;
  margin: 0 5px 0 0;
  letter-spacing: 0;
}
.info .contact .tel {
  margin: 0 0 2px;
  font-size: 24px;
  color: #2FB2B9;
}
.info .contact .tel .tag {
  color: #333;
}
.info .contact .fax {
  font-size: 16px;
}
.info .contact .address {
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 0 0;
    display: none;
}
.info .contact .btn a {
  display: inline-block;
  border: 1px solid #ccc;
  text-align: center;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  
}
.info-sns {
  text-align: center;
  padding: 20px 0 0;
}
.info-sns ul li {
  display: inline;
  margin: 0 0 0 10px;
}
.header-sns {
  display: none;
}
table.schedule-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border: 1px solid #2D1D00;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 0 0 5px;
}
table.schedule-table th {
  text-align: center;
  padding: 3px;
  font-size: 12px;
  border-right: 1px solid #2D1D00;
  border-bottom: 1px solid #2D1D00;
  vertical-align: middle;
  font-weight: normal;
  background: #BEF0F0;
  color: #414155;
}
table.schedule-table th:last-child {
  border-right: none;
}
table.schedule-table td {
  text-align: center;
  padding: 5px;
  font-size: 12px;
  border-right: 1px solid #2D1D00;
  border-bottom: 1px solid #2D1D00;
  vertical-align: middle;
      background: #fff;
      color: #414155;
}
table.schedule-table td:last-child {
  border-right: none;
}
table.schedule-table tr:last-child td {
  border-bottom: none;
}
table.schedule-table td.time {
      color: #414155;
  font-size: 12px;
}

footer table.schedule-table th:first-child {
  font-size: 0;
}
footer table.schedule-table td {
  background: #fff;
  color: #414155;
}
footer table.schedule-table td.time {
  color: #414155;
}

.content-arrow {
  padding: 90px 0 0;
  background: url(../img/content-arrow.png) no-repeat center top;
}
.large {
  font-size: 150%;
}

/*------------------------------
トップページ - お悩み
------------------------------*/

#onayami {
  text-align: center;
  font-size: 14px;
  padding: 0 0 20px;
  background: url(../img/bg11.png) no-repeat center 50px;
  background-size: auto 100%;
}
#onayami h2 {
    font-size: 48px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: normal;
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding-bottom: 10px;
    font-weight: normal;
    background: url(../img/bg01.png) no-repeat center bottom;
}
#onayami h2 span {
    font-size: 16px;
    display: block;
    margin-top: -10px;
    font-family: 秀英丸ゴシック L;
}
.onayami-container {
  font-size: 0;
  margin-bottom: 60px;
}
.onayami-container li {
  width: calc(33vmin - 1px);
  height: calc(33vmin - 1px);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  box-sizing: border-box;
}
.onayami-container li a {
  display: block;
  height: 100%;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  background-color: #FFF;
  background-position: center 30%;
  box-sizing: border-box;
  padding-top: 60%;
  background-repeat: no-repeat;
  border: 2px solid #dcccb2;
}
.onayami-container li.onayami-box01 a {
  background-image: url(../img/onayami-icon01.png);
  background-size: 30% auto;
}
.onayami-container li.onayami-box02 a {
  background-image: url(../img/onayami-icon02.png);
  background-size: 30% auto;
}
.onayami-container li.onayami-box03 a {
  background-image: url(../img/onayami-icon03.png);
  background-size: 30% auto;
}
.onayami-container li.onayami-box04 a {
  background-image: url(../img/onayami-icon04.png);
  background-size: 30% auto;
}
.onayami-container li.onayami-box05 a {
  background-image: url(../img/onayami-icon05.png);
  background-size: 30% auto;
}
.onayami-container li.onayami-box06 a {
  background-image: url(../img/onayami-icon06.png);
  background-size: 30% auto;
}
.onayami-container li.onayami-box07 a {
  background-image: url(../img/onayami-icon07.png);
  background-size: 30% auto;
}
.onayami-container li.onayami-box08 a {
  background-image: url(../img/onayami-icon08.png);
  background-size: 30% auto;
}
.onayami-container li.onayami-box09 a {
  background-image: url(../img/onayami-icon09.png);
  background-size: 30% auto;
}
.onayami-container li.onayami-box10 a {
  background-image: url(../img/onayami-icon10.png);
  background-size: 30% auto;
}
.onayami-container li.onayami-box11 a {
  background-image: url(../img/onayami-icon11.png);
  background-size: 30% auto;
}
.onayami-container li.onayami-box12 a {
  background-image: url(../img/onayami-icon12.png);
  background-size: 30% auto;
}
.onayami-container .onayami-box-right li a {
  padding: 0;
}
.onayami-container .onayami-box-right li a span {
  padding: 10px 0;
}

#home #onayami table {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  margin: 0 10px;
}
#home #onayami table th {
    font-weight: normal;
    padding: 10px;
    vertical-align: top;
    width: 30%;
}
#home #onayami table tr {
    background: url(../img/bg02.png) repeat-x left bottom;
}
#home #onayami table td {
    padding: 5px 10px;
    text-align: left;
}
#home #onayami table tr:last-child {
    background: none;
}

/*------------------------------
トップページ - 内覧会・開院のお知らせ
------------------------------*/

#home #info.content {
    margin: 10px;
}
#home #info .box {
  border: 1px solid #2D1D00;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#home #info .box h3 {
  font-size: 16px;
  font-weight: normal;
  color: #2FB2B9;
  margin-bottom: 10px;
}
#home #info .box strong {
  font-size: 18px;
  font-weight: normal;
  background: linear-gradient(transparent 70%, #FFF5BD 70%);
  padding: 0 20px 5px;
}
#home #info .box em {
  font-size: 14px;
  font-style: normal;
}

/*------------------------------
トップページ
------------------------------*/

#home #information {
    background: url(../img/bg12.png) repeat-x left bottom, url(../img/bg06.png);
    padding-bottom: 5px;
}

#index-top .index-time {
  padding: 30px 10px 30px;
  margin-bottom: 20px;
    background: url(../img/bg-footer.png) center center;
}
#index-top .index-time h3 {
  display: none;
}
#index-top table.schedule-table th {
  margin-bottom: 30px;
  color: #414155;
}
#index-top .fleft, #index-top .fright {
  margin: 0 10px 30px;
}
#index-top .kamoku {
  padding: 0px 0 0;
}
#index-top .kamoku h2 {
    font-size: 18px;
    
    margin: 0 0 10px;
    letter-spacing: 2px;
    font-weight: normal;
    border-bottom: solid #c7c7c7 1px;
    padding: 0 0 5px;
    text-align: center;
}
#index-top .kamoku ul {
  font-size: 0;
}
#index-top .kamoku ul li {
  width: 23%;
  margin: 0 2% 6px 0;
  display: inline-block;
  vertical-align: top;
}
#index-top .kamoku ul li br {
  display: none;
}
#index-top .kamoku ul li:first-child(1n) {
  width: 24%;
}
#index-top .kamoku ul li:nth-child(4n) {
  margin: 0 0 6px;
  width: 24%;
}
#index-top .kamoku ul li a {
  display: table;
  width: 100%;
  height: 5em;
  padding: 7px 0;
  text-align: center;
  font-size: 12px;
  
  font-weight: normal;
  border: solid #e5e5e5 1px;
  line-height: 1.5;
}
#index-top .kamoku ul li a span {
  display: table-cell;
  vertical-align: middle;
}
#index-top .kamoku ul li a.line2 {
  padding: 1px 0;
}
.mail {
  margin-top: 10px;
}
.mail p {
  background: #DFF4F2;
  color: #4b4b4b !important;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}
#index-top .logo {
  display: none;
  margin: 0 0 20px;
}
#index-top .logo img {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}
#index-top .logo2 {
  display: none;
}

#index-top table.schedule-table th {
    background: #BEF0F0;
}

#index-yoyaku{
  padding: 20px;
  margin: 0 10px 40px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #2D1D00;
}
#index-yoyaku h2 {
    color: #2FB2B9;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 10px;
    background: url(../img/bg02.png) no-repeat center bottom;
}
#index-yoyaku > p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}
#index-yoyaku .btn {
    position: relative;
    z-index: 1;
}
#index-yoyaku .btn a {
    position: relative;
    display: table;
    width: 100%;
    padding: 7px 0;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    border: solid #2D1D00 1px;
    line-height: 1.5;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#index-yoyaku .yoyaku-box-left {
  margin-bottom: 20px;
  text-align: center;
   background: #fff;
}
#index-yoyaku .yoyaku-box-left h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
}
#index-yoyaku .yoyaku-box-left p {
  font-size: 12px;
  line-height: 1.6;
  padding-bottom: 0px;
  text-align: left;
}
#index-yoyaku .yoyaku-box-left .yoyaku-contact-tel a{
  line-height: 1;
  background: url(../img/icon-tel.png) no-repeat 0;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  color: #fff;
  padding-left: 40px;
}
#index-yoyaku .yoyaku-box-right {
   background: #fff;
  text-align: center;
}
#index-yoyaku .yoyaku-box-right h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
}
#index-yoyaku .yoyaku-box-right p {
  font-size: 14px;
  line-height: 1.6;
  padding: 0 10px 10px;
  text-align: left;
}
.news-container h2 {
  font-size: 18px;
    background: #BEF0F0;
  letter-spacing: 2px;
  font-weight: normal;
  text-align: center;
  color: #414155;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  font-family: 'Pacifico', cursive;
  border: 1px solid #2D1D00;
  border-bottom: none;
}
.news-container h2 span {
  font-size: 16px;
  font-family: 秀英丸ゴシック L;
  margin-left: 10px;
}
.news-body ul {
  height: 120px;
  overflow: auto;
  background: #fff;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border: 1px solid #2D1D00;
  border-top: none;
}
.news-body ul::-webkit-scrollbar {
  width: 5px;
}
.news-body ul::-webkit-scrollbar-thumb {
  background-color: #2FB2B9;
  border-radius: 15px;
}
.news-body ul li {
  font-size: 0;
  margin: 0 0 10px;
}
.news-body ul li span.date {
  color: #2FB2B9;
  display: inline-block;
  width: 30%;
  font-size: 14px;
  margin: 0 5% 0 0;
  line-height: 1.5;
  vertical-align: top;
}
.news-body ul li span.title {
  display: inline-block;
  width: 65%;
  font-size: 14px;
  line-height: 1.5;
  vertical-align: top;
}
#index-content {
  padding: 0 0 60px;
  background: url(../img/bg08.png) no-repeat center 90px;
  background-size: auto 100%;
}
#index-content h2 {
    font-size: 48px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: normal;
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding-bottom: 10px;
    font-weight: normal;
    background: none;
}
#index-content h2 span {
    font-size: 16px;
    display: block;
    font-family: 秀英丸ゴシック L;
    margin-top: 10px;
}
#index-content article {
  margin: 0 10px 30px;
}
#index-content article:last-child {
  margin: 0 10px;
}
#index-content article figure {
  margin: 0 0 20px;
}
#index-content article figure img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
#index-content article figure img:first-child{
  width: 80px;
  margin-bottom: 20px;
}
#index-content article h3 {
  font-size: 16px;
  line-height: 1.3;
  margin: 0 0 10px;
  font-weight: normal;
  color: #2FB2B9;
}
#index-content article h3 strong {
  font-size: 24px;
  font-weight: normal;
  display: block;
  margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background: url(../img/bg02.png) no-repeat 10px bottom;
    padding: 0 10px 10px;
}
#index-content article p {
  font-size: 14px;
  line-height: 1.6;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#index-content .btn {
    display: block;
    background: #fff;
    height: 37px;
    line-height: 37px;
    border: 1px solid #E5E5E5;
    text-align: center;
    box-shadow: 0px 2px 0px 0px #f4f4f4;
    font-size: 14px;
    margin-top: 10px;
}
#index-content .btn span {
    padding-right: 20px;
    background: url(../img/icon01.png) no-repeat right center;
}

.serBox {
  margin: 0 10px;
}
.serBox img {
  width: 100%;
  margin-bottom: 10px;
}
.serBox p {
  font-size: 14px;
  line-height: 1.6;
}
.serBox h2 {
  font-size: 30px;
  
  line-height: 1;
  font-weight: normal;
  padding: 20px 0 0;
  text-align: center;
}
.serBox h3 {
}
.serBox h4 {
  font-size: 20px;
  line-height: 1.3;
  margin: 0 0 10px;
  font-weight: normal;
  text-align: center;
}
.serBox p {
  text-align: center;
}
.aboutBox {
  background-image: url(../img/about_bg_sp.jpg);
  text-align: center;
  padding-top: 270px !important;
  margin-bottom: 60px !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/*------------------------------
トップページ - 院長あいさつ
------------------------------*/

#home #greeting.content {
}
#home #greeting {
  text-align: center;
  font-size: 14px;
  margin: 0 10px;
  padding: 30px 0 0;
}
#home #greeting h2 {
    font-size: 48px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: normal;
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding-bottom: 10px;
    font-weight: normal;
    background: url(../img/bg01.png) no-repeat center bottom;
    color: #414155;
}
#home #greeting h2 span {
    font-size: 16px;
    display: block;
    font-family: 秀英丸ゴシック L;
    margin-top: 5px;
}
#home #greeting h3 {
    text-align: left;
    font-size: 18px;
    color: #2FB2B9;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background: url(../img/bg02.png) no-repeat center bottom;
}
#home #greeting h3 strong {
    font-size: 18px;
 font-weight: normal;
}
#home #greeting img {
  margin: 0 auto 20px;
  display: block;
  width: 100%;
}
#home #greeting p {
  text-align: left;
}
#home #greeting .name {
  text-align: center;
  font-size: 24px;
  margin: 10px 0 20px;
}
#home #greeting .name strong {
 font-size: 30px;
 font-weight: normal;
}
#home #greeting .frame {
 background: #EBFAFA;
 clear: both;
 margin-top: 20px;
 text-align: left;
 padding: 20px;
}
#home #greeting .frame h4 {
 font-size: 18px;
 font-weight: normal;
 margin-bottom: 10px;
 padding-bottom: 10px;
    background: url(../img/bg02.png) no-repeat center bottom;
}
#home #greeting .frame h4 span {
    color: #2FB2B9;
}
#home #greeting .btn {
    position: relative;
    z-index: 1;
}
#home #greeting .btn a {
    position: relative;
    display: table;
    width: 100%;
    padding: 7px 0;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    border: solid #2D1D00 1px;
    line-height: 1.5;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 10px;
}
#home #greeting .btn a span {
    padding-right: 20px;
    background: url(../img/icon03.png) no-repeat right center;
    color: #fff;
}

/*------------------------------
トップページ - 医院紹介
------------------------------*/

#facility {
  text-align: center;
  font-size: 14px;
  margin: 0 10px;
  padding: 30px 0 0;
}
#home #facility h2 {
    font-size: 48px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: normal;
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding-bottom: 10px;
    font-weight: normal;
    background: url(../img/bg01.png) no-repeat center bottom;
}
#home #facility h2 span {
    font-size: 16px;
    display: block;
    margin-top: -10px;
    font-family: 秀英丸ゴシック L;
}
#home #facility .box {
  margin-bottom: 30px;
}
#home #facility ol {
}
#home #facility ol li {
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
}
#home #facility ol li h3 span{
  display: none;
}
#home #facility ol li .img {
    position: relative;
}
#home #facility ol li .img span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #2FB2B9;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin: 0 auto 20px ;
}
#home #facility ol li img {
  margin: 0 auto 20px;
  display: block;
  width: 100%;
}
#home #facility .btn {
    position: relative;
    z-index: 1;
}
#home #facility .btn a {
    position: relative;
    display: table;
    width: 100%;
    padding: 7px 0;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    border: solid #2D1D00 1px;
    line-height: 1.5;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 10px;
}
#home #facility .btn a span {
    padding-right: 20px;
    background: url(../img/icon03.png) no-repeat right center;
}

#home #facility table {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  margin: 0 0 60px;
}
#home #facility table th {
    font-weight: normal;
    padding: 10px;
    vertical-align: top;
    width: 30%;
}
#home #facility table tr {
    background: url(../img/bg02.png) repeat-x left bottom;
}
#home #facility table td {
    padding: 5px 10px;
    text-align: left;
}
#home #facility table tr:last-child {
    background: none;
}

/*------------------------------
下層ページ共通
------------------------------*/

#page-header {
  background: url(../img/page-header-bg.jpg) no-repeat center !important;
  background-size: auto 100%;
}

#service #page-header {
  background: url(../img/page-header-bg1.jpg) no-repeat center;
  height: 150px;
  width: 100%;
  margin: 0 0 0;
}
#service #page-header .inner {
  background: url(../img/page-header01.jpg) no-repeat;
  height: 150px;
}
#flow #page-header {
  background: url(../img/page-header-bg2.jpg) no-repeat center;
  height: 150px;
  width: 100%;
  margin: 0 0 0;
}
#flow #page-header .inner {
  background: url(../img/page-header02.jpg) no-repeat;
  height: 150px;
}
#staff #page-header {
  background: url(../img/page-header-bg3.jpg) no-repeat center;
  height: 150px;
  width: 100%;
  margin: 0 0 0;
}
#staff #page-header .inner {
  background: url(../img/page-header03.jpg) no-repeat;
  height: 150px;
}
#clinic #page-header {
  background: url(../img/page-header-bg4.jpg) no-repeat center;
  height: 150px;
  width: 100%;
  margin: 0 0 0;
}
#clinic #page-header .inner {
  background: url(../img/page-header04.jpg) no-repeat;
  height: 150px;
}
#access #page-header {
  background: url(../img/page-header-bg5.jpg) no-repeat center;
  height: 150px;
  width: 100%;
  margin: 0 0 0;
}
#access #page-header .inner {
  background: url(../img/page-header05.jpg) no-repeat;
  height: 150px;
}
#page-header h2 {
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-weight: normal;
  padding: 35px 0 0;
  line-height: 1.5;
  color: #2D1D00;
}
#page-header h2 small {
  font-family: 秀英丸ゴシック L;
  display: block;
  padding: 5px 0 0;
  font-size: 16px;
}

.breadcrumb {
  border-top: solid #b3e2e2 1px;
  font-size:12px;
  padding: 10px;
  background: #BEF0F0;
}
.breadcrumb ul li {
  float: left;
  width: auto;
  line-height: 1;
}
.breadcrumb ul li a {
  color: #2FB2B9;
}

.content-header {
  padding: 30px 0 0;
}
.content-header h2 {
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
  padding: 30px 0;
  text-align: center;
  /* background: url(../img/bg03.png) repeat-x center center; */
  margin-bottom: 30px;
}
.content-header h2 span {
  background: url(../img/bg01.png) no-repeat center bottom;
  background-size: auto 3px;
  padding-bottom: 20px;
  display: block;
}
.page-link {
  margin: 0 0 30px;
}
.page-link ul {
  font-size: 0;
}
.page-link ul li {
  display: inline-block;
  margin: 0 2% 20px 0 !important;
  width: 32%;
  vertical-align: top;
}
.page-link ul li:nth-child(3n) {
  display: inline-block;
  margin: 0 0 20px 0 !important;
}
.page-link ul li a {
  background-image: url(../img/trans-btn.png);
  background-size: contain;
  background-repeat: repeat-x;
  padding: 15px 20px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  display: block;
  border-radius: 10px;
}
.page-link ul li a span {
  display: block;
  padding: 0 0 0 30px;
  background: url(../img/btn-arrow.png) no-repeat 0;
  text-align: left;
}
.page-link ul li a:hover {
  opacity: .8;
}
.line-header {
  text-align: center;
  margin: 0 0 20px;
  background: url(../img/ling-header-bg.gif) no-repeat center;
}
.line-header h2 {
  display: inline-block;
  padding: 0 10px;
  background-color: #fff;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
}
.corner-box {
  border: solid #ccc 1px;
  border-radius: 10px;
  position: relative;
  margin: 30px 10px;
}
.corner-box-header {
  position: absolute;
  top: -15px;
  left: 0;
  text-align: center;
  width: 100%;
}
.corner-box-header h3 {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px !important;
  line-height: 1;
  background-color: #fff;
}
.corner-box .body {
  padding: 40px 20px 20px;
}
.corner-box .body p {
  font-size: 16px;
  margin: 0 0 20px;
  text-align: center;
}
.corner-box .body .bnr {
  text-align: center;
}

/*------------------------------
診療案内
------------------------------*/

#service-content {
  padding: 20px 0 60px;
}
#service-content h3 {
  font-size: 18px;
  
  line-height: 1.6;
  text-align: center;
  font-weight: normal;
  margin: 0 0 10px;
  color: #BEF0F0;
}
#service-content h3 strong {
  color: #2FB2B9;
  font-weight: normal;
}
#service-content h3 strong br {
  display: none;
}
#service-content .main {
  background-color: #DFF4F2;
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px;
  font-size: 14px;
  line-height: 1.6;
}
#service-content .main h2 {
  font-size: 24px;
  
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}
#service-content .kamoku {
  margin: 0 0 30px;
}
#service-content .kamoku ul {
  font-size: 0;
  margin: 0 10px;
}
#service-content .kamoku ul li {
  display: inline-block;
  width: 48%;
  margin: 0 4% 20px 0;
  vertical-align: top;
}
#service-content .kamoku ul li:nth-child(2n) {
  margin: 0 0 20px;
}
#service-content .kamoku ul li a {
  position: relative;
  display: table;
  width: 100%;
  padding: 7px 0;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  border: solid #2D1D00  1px;
  line-height: 1.5;
  color: #fff;
          border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}

a.btn-a:hover:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
a.btn-a:active:before {
  top: -8px;
  left: 10px;
  width: 100%;
  height: 100%;
}
a.btn-a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 2px;
  left: -8px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background-color: #EB963C;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}

#service-content .kamoku ul li a span {
    padding-right: 20px;
    background: url(../img/icon05.png) no-repeat right center;
}
#service-content .kamoku ul li a.line2 {
  padding: 1px 0;
}
#service-content article {
  margin: -80px 10px 60px;
  padding: 80px 0 0;
}
#service-content article:last-child {
  margin: -80px 10px 0;
}
#service-content article figure {
  text-align: center;
}
#service-content article figure img {
  max-width: 100%;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}
#service-content article h3 {
  font-size: 18px;
  padding: 0 0 10px;
  margin: 0 0 20px;
  background: url(../img/bg02.png) repeat-x left bottom;
  text-align: left;
  color: #2FB2B9;
}
#service-content article h3 small {
  font-size: 14px;
    color: #fff;
    background: #F2AB30;
    padding: 2px 10px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}
#service-content article h4 {
  font-size: 16px;
  
  line-height: 1.3;
  margin: 0 0 10px;
  font-weight: normal;
  padding-left: 20px;
  background: url(../img/icon-maru.png) no-repeat left center;
  background-size: 15px auto;
}
#service-content article p {
  line-height: 1.6;
  font-size: 14px;
}

#service-content article p a {
    display: block;
    background: #fff;
    height: 37px;
    line-height: 37px;
    border: 1px solid #E5E5E5;
    text-align: center;
    box-shadow: 0px 2px 0px 0px #f4f4f4;
    margin: 10px 0 0;
    font-size: 14px;
}
#service-content article p a span {
    padding-right: 20px;
    background: url(../img/icon01.png) no-repeat right center;
}

/*------------------------------
治療の流れ
------------------------------*/

#flow-content h3 {
  font-size: 32px;
  
  text-align: center;
  margin: 30px 0 30px;
  font-weight: normal;
}
#flow-content p {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 10px 20px;
}
#flow-content p.catch {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 20px;
  padding: 30px 10px 0;
  text-align: center;
  background: url(../img/content-shadow-top.jpg) top center no-repeat;
}
#flow-content ol {
  padding-bottom: 30px;
}
#flow-content ol li {
  margin: 0 0 20px 0;
  padding: 0 0 60px 0;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url(../img/sp/flow-arrow.png);
  background-size: 40px;
}
#flow-content ol li h3 {
  font-size: 20px;
  
  line-height: 1.5;
  text-align: left;
  font-weight: normal;
  padding: 10px 10px 0 10px;
  margin: 0 0 10px 0;
  border-top: solid #ccc 1px;
}
#flow-content ol li h3 br {
  display: none;
}
#flow-content ol li h3 span {
  display: inline-block;
  border-radius: 20px;
  padding: 6px 12px;
  color: #fff;
  font-size: 14px;
  background-color: #8bcc5a;
  margin: 0 10px 2px 0;
  vertical-align: middle;
}
#flow-content ol li img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#flow-content ol li figcaption {
  padding: 10px 0 0 0;
  text-align: center;
}
#flow-content ol li figcaption p {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 10px 10px;
  text-align: left;
}
#flow-content ol li figcaption p br {
  display: none;
}
#flow-content ol li figcaption div.btn a {
  
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px 20px;
  font-size: 18px;
  display: inline-block;
}
#flow-content ol li.flow-content01 .tel {
  color: #6fb00c !important;
  margin: 0 10px;
}
#flow-content ol li.flow-content01 .tel a {
  color: #6fb00c !important;
  display: block;
  border: solid #6fb00c 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  overflow: hidden;
}
#flow-content ol li.flow-content01 .tel a small {
  font-size: 12px;
  display: block;
  background-color: #6fb00c;
  color: #fff;
}
#flow-content ol li.flow-content01 .tel a span {
  font-size: 30px;
  display: inline-block;
  background: url(../img/icon-tel.png) no-repeat 0;
  padding: 0 0 0 30px;
}
#flow-content ol li.flow-content07 {
  background-image: none;
  padding: 0;
}
#flow-content ol li.flow-content10 {
  background-image: none;
  padding: 0 0 30px 0;
}
.flow-flow {
  margin: 0 10px 30px;
}
.flow-flow ol li {
  border-radius: 20px;
  width: 100%;
  padding: 0 0 43px;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin: 0 0 10px;
}
.flow-flow ol li.odd {
  background-image: url(../img/flow/flow-arrow-green.png);
}
.flow-flow ol li.odd.last {
  background-image: none;
}
.flow-flow ol li.even {
  background-image: url(../img/flow/flow-arrow-brown.png);
}
.flow-flow ol li.even.last {
  background-image: none;
}
.flow-flow ol li span {
  display: block;
}
.flow-flow ol li span.number {
  font-size: 24px;
  color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  vertical-align: middle;
}
.flow-flow ol li span.number img {
  width: 50%;
  height: auto;
}
.flow-flow ol li.odd span.number {
  background-color: #ffbfbd;
}
.flow-flow ol li.even span.number {
  background-color: #c9bc9c;
}
.flow-flow ol li p.title {
  border-radius: 0 0 10px 10px;
  font-size: 14px;
  padding: 10px;
}
.flow-flow ol li p.title em {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  display: block;
  line-height: 1.4;
}
.flow-flow ol li.odd p.title {
  border: solid #86cc88 1px;
}
.flow-flow ol li.odd p.title em {
  color: #86cc88;
}
.flow-flow ol li.even p.title {
  border: solid #a5ada2 1px;
}
.flow-flow ol li.even p.title em {
  color: #a5ada2;
}
.flow-flow ol li p.title img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.flow-flow .btn_tel, .flow-flow .btn_web {
  display: inline-block;
  border-radius: 10px;
  border-bottom: solid #E79B8C 3px;
  background-color: #ffbfbd;
  color: #fff;
  text-align: center;
  line-height: 1;
  margin-top: 10px;
  padding: 5px 0;
  font-size: 16px;
  width: 100%;
}
#flow01, #flow02 {
  margin-top: -61px;
  padding-top: 61px;
}

/*------------------------------
医師あいさつ
------------------------------*/

.doctor {
  padding: 21px 0 60px;
}
.doctor h3 {
  font-size: 30px;
  line-height: 1.6;
  text-align: center;
  font-weight: normal;
  margin: 0 0 20px;
    /* background: url(../img/bg03.png) repeat-x center center; */
    padding: 10px 0 20px;
}
.doctor h3 span {
    background: url(../img/bg01.png) no-repeat center bottom;
    background-size: auto 3px;
    padding-bottom: 10px;
    display: block;
}
.doctor .content-body {
  font-size: 0;
}
.doctor .content-body h4 {
    font-size: 18px;
    padding: 0 0 10px;
    margin: 0 10px 20px;
    background: url(../img/bg02.png) repeat-x left bottom;
    text-align: left;
    color: #2FB2B9;
}
.doctor .content-body figure {
  text-align: center;
  margin: 0 10px 50px;
}
.doctor .content-body figure img {
  width: auto;
  height: auto;
  width: 100%;
}
.doctor .content-body .text {
  margin: 0 10px 20px;
}
.doctor .content-body .text strong {
  font-size: 18px;
  font-weight: normal;
  color: #2FB2B9;
  display: block;
  margin-bottom: 20px;
  
}
.doctor .content-body .text p {
  font-size: 14px;
  line-height: 1.6;
}
.doctor .content-body .signature {
  font-size: 24px;
  
  padding: 20px 0 0;
  text-align: right;
}
.doctor .content-body .signature span {
  margin: 0 0 0 0px;
  font-size: 30px;
  
  position: relative;
  display: inline-block;
}
.doctor .content-body .signature span small {
  position: absolute;
  top: -14px;
  left: 0;
  letter-spacing: .2em;
  width: 100%;
  text-align: center;
  font-size: 13px;
  
  display: inline-block;
  margin-left: -.2em;
}
.doctor .detail {
  margin: 0 10px;
}
.doctor.side .detail {
  padding-top: 40px;
}
.doctor .detail .fleft, .doctor .detail .fright {
  margin: 0 0 20px;
  background: #f2fcfc;
  padding: 10px;
}
.doctor .detail h4 {
  font-size: 18px;
  background: url(../img/bg02.png) repeat-x left bottom;
  margin: 0 0 20px;
  padding: 0 0 10px;
  font-weight: normal;
  color: #4B4B4B;
}
.doctor .detail table {
  font-size: 14px;
  line-height: 1.6;
}
.doctor .detail table th {
  padding: 0 0 10px;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
.doctor .detail table td {
  padding: 0 0 10px;
  text-align: left;
  vertical-align: top;
}
.staff {
  padding: 0 0 60px;
}
.staff h3 {
  font-size: 30px;
  
  line-height: 1.6;
  text-align: center;
  font-weight: normal;
  margin: 0 0 20px;
}
.staff figure {
  font-size: 0;
  margin: 0 10px;
}
.staff figure img {
  width: 100%;
  height: auto;
}
.staff figure figcaption {
  padding: 20px 0;
}
.staff figure figcaption p {
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  margin: 0 10px 10px;
}
.staff figure figcaption p span {
  margin: 0 10px;
}
.staff figure figcaption p.total {
  font-size: 24px;
  
}
.staff figure figcaption p.total strong {
  color: #BEF0F0;
  
  font-weight: normal;
}

/*------------------------------
医院紹介
------------------------------*/

#clinic .content-header {
  padding: 0px 0 0;
}
#clinic .content-header h2 {
  padding: 20px 0 0;
}
#clinic .content-header h2 span {
  font-size: 30px;
}

.clinic h3 {
  font-size: 30px;
  line-height: 1.6;
  text-align: center;
  font-weight: normal;
  margin: 0 0 10px;
  color: #2FB2B9 !important;
}
.clinic .content-body {
  font-size: 0;
}
.clinic .content-body h3 {
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
}
.clinic .content-body ul {
}
.clinic .content-body ul li {
  margin: 0 10px 30px;
}
.clinic .content-body ul li:last-child {
  margin: 0 10px;
  padding: 0 0 30px;
}
.clinic .content-body ul li.wide img {
  margin: 0 0 10px;
}
.clinic .content-body ul li.wide img:last-of-type {
  margin: 0;
}
.clinic .content-body figure img {
  width: 100%;
  height: auto;
}
.clinic .content-body figcaption {
  clear: both;
  padding: 10px 0 0;
  font-size: 14px;
  line-height: 1.6;
}
.clinic .content-body ul li.wide figcaption {
  text-align: center;
}

#clinic .flexslider {
	float: none;
	margin: 0 10px 0px;
}
#clinic .flexslider li {
	margin: 0;
}
#clinic .flexslider li div {
	display: block;
	margin-top: 10px;
	margin-left: 0;
	text-align: center;
}
#clinic .flexslider p {
	display: block;
	font-size: 14px;
	text-align: center;
}
#clinic .flexslider p strong{
	display: block;
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
	color: #2FB2B9;
}
#clinic .flex-control-nav.flex-control-thumbs {
	width: auto;
}
#clinic .flex-control-thumbs li {
	position: relative;
	width: 18.4%;
	margin: 0 2% 0 0;
}
#clinic .flex-control-thumbs li:nth-child(5n) {
	margin: 0 0 0 0;
}
#clinic .flex-control-thumbs img {
	border: 3px solid #e0e0e0;
}

#clinic .flex-direction-nav a {
    width: 20px !important;
    height: 26px !important;
    margin: 0 0 0 !important;
    opacity: 1 !important;
    top: 23% !important;
    text-shadow: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

#clinic .flexslider .flex-prev { opacity: 1; left: 20px; background: url(../img/clinic/prev.png) no-repeat left; background-size: 20px 26px; }
#clinic .flexslider .flex-next { opacity: 1; right: 20px; background: url(../img/clinic/next.png) no-repeat right; background-size: 20px 26px; }

#clinic .flexslider:hover .flex-prev { opacity: 1; left: 20px; background: url(../img/clinic/prev.png) no-repeat left; background-size: 20px 26px; }
#clinic .flexslider:hover .flex-next { opacity: 1; right: 20px; background: url(../img/clinic/next.png) no-repeat right; background-size: 20px 26px; }

#clinic .flex-direction-nav a:before {
    content: '';
}

/*------------------------------
アクセス
------------------------------*/

#access-content {
  padding: 30px 0 60px;
}
#access-content h3 {
  font-size: 30px;
  line-height: 1.6;
  text-align: center;
  font-weight: normal;
  margin: 0 0 20px;
}
#access-content h3 span {
    background: url(../img/bg01.png) no-repeat center bottom;
    background-size: auto 3px;
    padding-bottom: 10px;
    display: block;
}
#access-content .content-body {
  /* background: url(../img/content-shadow-top.jpg) top center no-repeat;
  font-size: 0;
  padding: 30px 0 0; */
}
#access-content #map {
  margin-top: -70px;
  padding-top: 70px;
}
#access-content .map figure {
  text-align: center;
  margin: 0 0 20px;
}
#access-content .map figure img {
  width: 80%;
  height: auto;
}
#access-content .map p a {
    display: block;
    height: 37px;
    line-height: 37px;
    border: 1px solid #2D1D00;
    text-align: center;
    margin: 10px 10px 40px;
    font-size: 14px;
    position: relative;
    border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
color: #fff;
}
#access-content .map p a span {
    padding-right: 20px;
    background: url(../img/icon03.png) no-repeat right center;
}
#access-content .body {
  margin: 0 10px 30px;
}
#access-content .body img {
  width: 100%;
  height: auto;
}
#access-content .body p {
  text-align: center;
  margin: 0 0 20px;
}
#access-content .body ul {
  width: 100%;
  margin: 0 auto 30px;
  font-size: 0;
}
#access-content .body ul li {
  margin: 0 0 20px;
  vertical-align: top;
}
#access-content .body ul li figcaption {
  padding: 10px 0 0;
  text-align: center;
  font-size: 16px;
}
#access-content .body ul li:last-child {
  margin: 0;
}
#access-content .detail {
  margin: 0 10px;
}
#access-content .detail h4 {
  font-size: 30px;
  
  padding: 0 0 5px;
  border-bottom: solid #ccc 1px;
  margin: 0 0 20px;
  font-weight: normal;
  text-align: center;
}
#access-content .detail h5 {
    font-size: 18px;
    background: url(../img/bg02.png) repeat-x left bottom;
    margin: 0 0 20px;
    padding: 0 0 10px;
    font-weight: normal;
    color: #4B4B4B;
}
#access-content .detail p {
  font-size: 14px;
}
#access-content .detail figure {
  text-align: center;
  margin: 0 0 20px;
}
#access-content .detail figure img {
  width: 80%;
  height: auto;
}
#access-content .detail figure img:first-child {
  margin-bottom: 10px;
}
#access-content .detail .info table.info-detail {
  font-size: 20px;
  width: 100%;
  border-collapse: collapse;
  display: block;
}
#access-content .detail .info table.info-detail tr, #access-content .detail .info table.info-detail tbody {
  display: block;
}
#access-content .detail .info table.info-detail th {
  font-size: 20px;
  
  font-weight: normal;
  vertical-align: middle;
  text-align: center;
  padding: 0px 0 10px 0;
  display: block;
}
#access-content .detail .info table.info-detail td {
  font-size: 16px;
  font-weight: normal;
  vertical-align: middle;
  text-align: center;
  padding: 0px 0 20px 0;
  display: block;
}
#access-content .detail .info table.info-detail td.tel {
  font-size: 20px;
}
#access-content .detail .info table.info-detail td.tel a {
  color: #BEF0F0;
  
}
#access-content .detail .info table.info-detail td.fax {
  font-size: 16px;
  
  color: #BEF0F0;
}
#access-content .detail .info p {
  font-size: 18px;
  
}
#access-content .detail .schedule table.schedule-table th {
  font-size: 14px;
}
#access-content .detail .schedule table.schedule-table td {
  font-size: 14px;
}
#access-content .detail .schedule table.schedule-table td.time {
  font-size: 14px;
}
#access-content .detail .schedule p {
  text-align: right;
  
  font-size: 14px;
}
#access-content .mail a {
  width: 80%;
  margin: 0 auto;
}

.access-img {
  margin: 0 0 60px;
}
.access-img ul {
  margin-bottom: 60px;
}
.access-img ul li {
  margin: 20px 0 0 0;
  font-size: 14px;
}
.access-img ul li:first-child {
  margin: 0;
}
.access-img ul li img {
  width: 100%;
}
.access-img ul li p {
  margin-top: 10px;
}

#access-content .frame {
    padding: 10px;
    margin-top: 20px;
    clear: both;
    background: #f2fcfc;
}

/*------------------------------
ブログ
------------------------------*/

.archive {
  margin: 0 10px 20px;
  text-align: right;
}
.blog-content h3 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}
.blog-content .body {
  margin: 0 10px 30px;
  background: url(../img/content-shadow-top.jpg) top center no-repeat;
  font-size: 0;
  padding: 40px 0 0;
}
.blog-content .body p {
  margin: 0 0 20px;
  line-height: 1.6;
  font-size: 16px;
}
.blog-content .body img {
  display: block;
  width: auto;
  height: auto;
  max-width: 80%;
  margin: 0 auto 20px;
}
.blog-content .date {
  margin: 0 0 30px;
  text-align: right;
}
.pager {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.pager span {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  border: solid #262f66 1px;
  color: #262f66;
  border-radius: 5px;
}
.pager a {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  border: solid #fff 1px;
  border-radius: 5px;
}
.pager a:hover {
  color: #fff;
  border: solid #262f66 1px;
  background-color: #262f66;
}
.pager .prev {
  position: absolute;
  top: 30px;
  left: 0;
}
.pager .next {
  position: absolute;
  top: 30px;
  right: 0;
}
.pager .list {
  text-align: center;
}

/*------------------------------
スマホ
------------------------------*/

.pc {
  display: none;
}
.box1 {
    background: #f2fcfc;
  padding: 20px;
  margin-top: 30px;
  clear: both;
}
.box1 h4 {
    background: url(../img/bg02.png) repeat-x left bottom !important;
    padding: 0 0 10px 0 !important;
    margin-bottom: 20px !important;
}
.box1 img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto 20px;
    display: block;
}
.tel_no {
  background-color: #f29243;
  color: #fff !important;
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px 0px 10px 0px !important;
  padding-left: 10px !important;
}
.tel_no a {
  color: #FFFFFF;
  padding: 5px 10px;
  font-size: 18px !important;
}
.mail_no {
  background-color: #edae03;
  color: #fff !important;
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px 0px 10px 0px !important;
  padding-left: 10px !important;
}
.mail_no a {
  color: #FFFFFF;
  padding: 5px 10px;
  font-size: 18px !important;
}
.flow_ul {
  overflow: hidden;
  text-align: center !important;
  width: 280px;
  margin: 10px auto 50px;
}
.flow_ul li {
  float: left;
  display: inline-block;
  margin: 10px;
}
.flow_ul li a {
  background-color: #f68a48;
  display: table-cell;
  width: 120px;
  height: 120px;
  color: #fff;
  border-radius: 50%;
  font-size: 12px !important;
  vertical-align: middle;
}
.pagetop {
  text-align: center;
  position: fixed;
  bottom: 0 !important;
  left: 0;
  background-color: #C8C8C8;
  width: 100%;
  display: none;
}
.pagetop a {
  display: block;
  color: #fff;
  padding: 10px 0;
}
.pagetop a {
  color: #fff;
}
.h3_1 {
  font-size: 24px;
  line-height: 1.6;
  text-align: center;
  font-weight: normal;
}
.h3_1 strong {
  font-size: 24px;
}
.serBox2 {
  padding: 0% 2% 5%;
  text-align: center;
}
.serBox2 h4 {
  font-size: 20px;
  line-height: 1.3;
  margin: 0 0 10px;
  font-weight: normal;
  text-align: center;
}
.pcnone {
  text-align: center
}
.pcnone img {
  width: 80%;
  margin: 10px;
}